<div class="product-view-page">
    <div class="about">
        <div class="images">
            <%
            options.result.images.forEach((image) => {
                %>
                <img src="<%=image%>"/>
                <%
            });
            %>
        </div>
        <div class="info">
            <div class="price"><span><%=options.result.price%></span> LEI</div>
            <div class="orizontal-line"></div>
            <div class="actions">
                <%
                if(!user.itemsInCart.includes(options.result._id)) {
                    %><button class="add-to-cart" onclick="productToggleCart('<%=options.result._id%>')"><i class="fa-solid fa-cart-shopping"></i> Add to cart</button><%
                } else {
                    %><button class="remove-from-cart" onclick="productToggleCart('<%=options.result._id%>')"><i class="fa-solid fa-xmark"></i> Remove from cart</button><%
                }
                if(!user.itemsInFavorites.includes(options.result._id)) {
                    %><button class="add-to-favorite" onclick="productToggleFavorite('<%=options.result._id%>')"><i class="fa-solid fa-heart"></i> Add to favorite</button><%
                } else {
                    %><button class="remove-from-favorite" onclick="productToggleFavorite('<%=options.result._id%>')"><i class="fa-solid fa-heart-circle-xmark"></i> Remove from favorite</button><%
                }
                %>
            </div>
            <div class="orizontal-line"></div>
            <div class="description">
                <span>Description</span>
                <div><%=options.result.description%></div>
            </div>
        </div>
        <%
        if(!options.result.reviews.some(s => s.userId.toString() == user._id)) {
            %>
            <div class="add-review">
                <span>Add review</span>
                <form action="/product/add-review/<%=options.result._id%>" method="POST">
                    <div class="stars">
                    <%
                    for(let i = 1; i <= 5; i++) { 
                        %><i class="fa-solid fa-star"></i><% 
                    }
                    %>
                    </div>
                    <textarea placeholder="Review message" name="text" required></textarea>
                    <input type="hidden" name="rating" value="0"/>
                    <input type="submit" value="Post"/>
                </form>
            </div>
            <%
        }
        %>
    </div>
    <%
    if(options.result.reviews.length) {
        %>
        <div class="reviews">
            <span>Reviews</span>
            <%
            options.result.reviews.reverse().forEach((review) => {
                %>
                <div class="orizontal-line"></div>
                <div class="review">
                    <div class="rating-stars">
                        <%
                        for(let i = 1; i <= 5; i++) { 
                            %><i class="fa-solid fa-star" style="color: <%= review.rating >= i ? "yellow" : "white" %>"></i><% 
                        }
                        %>
                    </div>
                    <div class="author-name"><i class="fa-solid fa-user"></i>: <%=review.userId%></div>
                    <div class="text"><i class="fa-regular fa-comment"></i>: <%=review.text%></div>
                    <div class="date"><i class="fa-solid fa-calendar-days"></i>: <%=new Date(review.date).toLocaleDateString("ro-RO")%></div>
                </div>
                <%
                if(review.userId.toString() == user._id || user.isAdmin) {
                    %>
                    <div class="manage">
                        <div class="delete" onclick="deleteReviewFromUserId('<%=options.result._id%>', '<%=review.userId.toString()%>')"><i class="fa-solid fa-trash"></i> Delete</div>
                    </div>
                    <%
                }
                %>
                <div class="orizontal-line"></div>
                <%
            });
            %>
        </div>
        <%
    }
    %>
</div>